body {
	background-color: #FAFAFA;
}

aside {
	float: left;
	order: -1;
	flex-direction: column;
}

nav {
	order: 0;
}

header {
	order: 1;
	width: 100%;
	margin: 1em;
	text-align: center;
}

section {

}

article {
	order: 2;
	/* content-box sizing sizes elements according to content excluding any border or padding */
	/* border-box sizing sizes elements according to content including any border or padding */
	box-sizing: border-box;
	width: 300px;
	height: 300px;
}




.project-window {
	background-color: #EBEDF0;
	border-style: solid;
	border-width: .5em;
	border-radius: 1em;/*15px;*/
	border-color: #FAFAFA;
}

.side-bar {
	width:20%;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.profile-img {

}

.title-about {

}

.about {

}

.project-title {
	padding-left: 1em;
	padding-top: 1em;

}

.project-image {
	padding-left: 1em;
}

.project-description {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: .5em;
}