.flex-container {
	display:inline-flex;
	flex-flow: row wrap;
	justify-content: center;
}

.side-bar {
	width:100%;
	padding-right: 1em;
	display:inline-flex;
}

aside {
	float: left;
	order: 0;
}

header {
	order: 1;
	width: 100%;
	margin: 1em;
	padding-right: 1em;
}

nav {
	order: 2;
}

article {
	order: 3;
	/* content-box sizing sizes elements according to content excluding any border or padding */
	/* border-box sizing sizes elements according to content including any border or padding */
	box-sizing: border-box;
	width: 300px;
	height: 300px;
}